body {
    /* Relative path to the image file */
    background-image: url('img1.webp');
    width:auto;
    height: fit-content;
    border-image-repeat: repeat;
    /* background: 100px;; */
    /* margin: 0;
    padding: 0; */
}
/* login page button setting */
.log ul li {
    padding: 10px;
    text-align: right;
    display: inline-block;
    list-style: none;
}

/* Buttons colouring */
.item {
    color: aliceblue;
}

/* LOGIN PAGE BUTTONS ALIGNMENT */
header {
    background-color: #202cdc33;
    color: white;
    padding: 20px;
    text-align: left;
}



/* Labels arrangement */
form input[type="text"],
form input[type="password"] {

    width: fit-content;
    padding:0%;
    margin-bottom:0%;

}


form button:hover {
    box-shadow: 0 0 20px 0px #fff;
}

/* home page font */
.home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
/* home page footer */
.footer {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}

/* Login layout */
.page {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #61c6f4;
    margin: auto;
    /* padding: 0%; */
    background-color: #61c6f4;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /* padding: 10px 20px; */
    transition: transform 0.2s;
    width: 600px;
    height: 300px;
    text-align: center;
}


/* homepage bg img */
body {
    /* Relative path to the image file */
    background-image: url('img1.webp');
    /* Set background size */
    /* background-size: cover; */
    /* Set background to not repeat */
    /* background-repeat: no-repeat; */
    /* Center the background */
    /* background-position: center; */
    /* margin: 0; */
    /* padding: 0; */
    font-family: Arial, sans-serif;

}

/* title bg color */
header {
    background-color: #333;
    padding: 20px;
}

/* Title alignment */
h1 {
    color: aliceblue;
    font-style: italic;
    text-align: center;
    margin: 0;
}


/* nav bar settings */
.nav-bar ul li {
    display: inline;
    margin-right: 20px;
}

/* nav bar underlined settings */
.nav-bar ul li a {
    color: white;
    text-decoration: none;
}


/* career center alignment */
.footer ul h3 {
    margin-top: 0;
}

.c1 h2 {
    text-align: center;
}
